@font-face {
    font-family: GothicPixels;
    src: url(assets/fonts/GothicPixels.ttf);
}

@font-face {
    font-family: PoppinsMedium;
    src: url(assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsRegular;
    src: url(assets/fonts/Poppins-Regular.ttf);
}

:root {
    --sidebar-background-color: rgb(232, 225, 255);
    --sidebar-hover-color: rgb(239, 234, 255);
    --sidebar-secondary-hover-color: rgb(242, 239, 255);
    --sidebar-padding: 0.4rem 0.6rem;
    --border-radius: 6px;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: PoppinsMedium;
}

button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: PoppinsMedium;
}

svg {
    cursor: pointer;
}

button>svg {
    vertical-align: middle;
}

button>img {
    vertical-align: middle;
}

/* SIDEBAR STYLING */
.sidebar {
    padding: 0.5rem;
    background-color: var(--sidebar-background-color);
}

.logo {
    padding: 0.3rem;
    font-family: GothicPixels;
    font-size: 2rem;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px #48ff00;
}

.main-lib-field {
    padding: var(--sidebar-padding);
}
/* Collection library button */
.lib-main {
    padding: var(--sidebar-padding);
    width: 100%;
    font-family: GothicPixels;
    font-size: 1.5rem;
    border-radius: var(--border-radius);
}

.lib-main:hover {
    color: #ffffff;
    background-color: rgb(206, 191, 255);
    text-shadow: 3px 3px #ce53ff;
}

.my-libraries-field {
    padding: var(--sidebar-padding);
    display: flex;
    align-items: center;
    justify-content: center;
}

.lib-section-title {
    flex: 1;
}

.lib-add-btn {
    padding: 0.2rem;
    border-radius: 20px;
    line-height: 1;
    transition: transform 0.4s;
}

.lib-add-btn:hover {
    background-color: var(--sidebar-hover-color);
    transform: rotateZ(90deg);
}

.lib-container {
    padding: var(--sidebar-padding);
    font-size: 0.9rem;
    font-family: PoppinsRegular;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lib-container:hover {
    background-color: var(--sidebar-hover-color);
}

.lib-name {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 5rem;
}

.lib-container > button {
    margin-left: 0.1rem;
    padding: 0.2rem;
    border-radius: 20px;
}

.lib-container > button:hover {
    background-color: var(--sidebar-secondary-hover-color);
}

.active-lib {
    background-color: var(--sidebar-hover-color);
}

.active-lib:hover {
    background-color: var(--sidebar-secondary-hover-color);
}

.input-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lib-form {
    flex: 1;
}

#lib-input {
    box-sizing: border-box;
    font-family: PoppinsRegular;
    font-size: 0.9rem;
    background-color: var(--sidebar-secondary-hover-color);
    width: 100%;
    padding: 0.5rem 2.3rem 0.5rem 0.6rem;
    border: none;
    border-radius: var(--border-radius);
}

#lib-input:focus {
    outline: none;
    background-color: rgb(255, 255, 255);
}

.input-container > svg {
    position: absolute;
    right: 0.4rem;
    padding: 0.2rem;
}

/* GAME PAGE STYLING */
.page-container {
    display: grid;
    grid-template-columns: 1.2fr 6fr;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.game-init {
    display: flex;
    justify-content: space-between;
}

.game-expand {
    display: flex;
    justify-content: space-between;
}