@font-face {
    font-family: GothicPixels;
    src: url(assets/fonts/GothicPixels.ttf);
}

@font-face {
    font-family: PoppinsMedium;
    src: url(assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsRegular;
    src: url(assets/fonts/Poppins-Regular.ttf);
}

:root {
    --sidebar-background-color: rgb(232, 225, 255);
    --sidebar-hover-color: rgb(214, 202, 255);
    --sidebar-active-hover-color: rgb(199, 182, 255);
    --sidebar-secondary-color: rgb(255, 255, 255);
    --padding: 0.4rem 0.6rem;
    --border-radius: 6px;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: PoppinsMedium;
}

button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: PoppinsMedium;
}

svg {
    cursor: pointer;
}

button>svg {
    vertical-align: middle;
}

button>img {
    vertical-align: middle;
}

.page-container {
    display: grid;
    grid-template-columns: 1.2fr 6fr;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
/* SIDEBAR STYLING */
.sidebar {
    padding: 0.5rem;
    background-color: var(--sidebar-background-color);
}

.logo {
    padding: 0.3rem;
    font-family: GothicPixels;
    font-size: 2rem;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px #48ff00;
}

.main-lib-field {
    padding: var(--padding);
}
/* Collection library button */
.lib-main {
    padding: var(--padding);
    width: 100%;
    font-family: GothicPixels;
    font-size: 1.5rem;
    border-radius: var(--border-radius);
}

.lib-main:hover {
    color: #ffffff;
    background-color: rgb(206, 191, 255);
    text-shadow: 3px 3px #ce53ff;
}

.my-libraries-field {
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: center;
}

.lib-section-title {
    flex: 1;
}

.lib-add-btn {
    padding: 0.2rem;
    border-radius: 20px;
    line-height: 1;
    transition: transform 0.4s;
}

.lib-add-btn:hover {
    background-color: var(--sidebar-secondary-color);
    transform: rotateZ(90deg);
}

.lib-container {
    padding: var(--padding);
    font-size: 0.9rem;
    font-family: PoppinsRegular;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lib-container:hover {
    background-color: var(--sidebar-hover-color);
}

.lib-name {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 5rem;
}

.lib-container > button {
    margin-left: 0.1rem;
    padding: 0.2rem;
    border-radius: var(--border-radius);
}

.lib-container > button:hover {
    background-color: var(--sidebar-background-color);
}

.active-lib {
    background-color: var(--sidebar-hover-color);
}

.active-lib:hover {
    background-color: var(--sidebar-active-hover-color);
}
/* Input field styling */
.input-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lib-form {
    flex: 1;
}

#lib-input {
    box-sizing: border-box;
    font-family: PoppinsRegular;
    font-size: 0.9rem;
    background-color: var(--sidebar-hover-color);
    width: 100%;
    padding: 0.5rem 2.3rem 0.5rem 0.6rem;
    border: none;
    border-radius: var(--border-radius);
}

#lib-input:focus {
    outline: none;
    background-color: rgb(255, 255, 255);
}

.input-container > svg {
    position: absolute;
    right: 0.4rem;
    padding: 0.2rem;
}
/* GAME PAGE STYLING */
.content {
    padding: var(--padding);
}

.game-page-lib {
    padding: 0.4rem 0 0.4rem 0.6rem;
    display: flex;
    align-items: center;
}

.lib-info {
    display: flex;
    flex: 1;
    align-items: baseline;
}

.lib-info-name {
    font-size: 1.4rem;
}

.lib-info-number {
    font-family: PoppinsRegular;
    font-size: 0.9rem;
    margin-left: 1rem;
}

.add-game {
    font-family: PoppinsRegular;
    font-size: 1.4rem;
    padding: 0.2rem 0.4rem;
    background-color: var(--sidebar-background-color);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-game:hover {
    background-color: var(--sidebar-hover-color);
}

.add-game:hover > img {
    transition: transform 0.4s;
    transform: rotateZ(90deg);
}

.add-game > p {
    margin: 0;
    padding-left: 0.2rem;
}

.game-info-header {
    display: flex;
    padding: var(--padding);
    background-color: aliceblue;
}
/* Title takes up more space than the others */
.game-info-header div:first-child {
    flex: 1;
}

.game-info-header > div {
    width: 17%;
}

.game-container {
    font-family: PoppinsRegular;
    margin: 0.6rem 0 1rem 0;
    padding: var(--padding);
    background-color: beige;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.game-init {
    display: flex;
}

.game-name-container {
    flex: 1;
    height: 43px;
}

.game-number-container {
    width: 4.6rem;
}

.released-value {
    text-align: end;
}

.game-stat-container {
    width: 17%;
    display: flex;
    align-items: center;
}

.game-name {
    font-family: PoppinsMedium;
}

.center-name {
    display: flex;
    align-items: center;
}

.must-play {
    font-size: 0.8rem;
}

.game-expand {
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.game-expand-container {
    width: 17%;
}

.game-edit {
    position: absolute;
    bottom: 0.1rem;
    left: 0;
}

.game-del {
    position: absolute;
    bottom: 0.1rem;
    left: 2rem;
}

.game-edit,
.game-del {
    margin-right: 0.2rem;
    padding: 0.2rem;
    border-radius: var(--border-radius);
}

.game-edit:hover,
.game-del:hover {
    background-color: rgb(255, 255, 255);
}
